
.youtube_channel {
	float: left;
	clear: both;
}
.youtube_channel.responsive {
	width:100%;
}
.widget_youtube-channel:after,
.youtube_channel:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.youtube_channel .ytc_video_container {
	float: left;
}
.youtube_channel.responsive .ytc_video_container {
	width:100%!important;
}
.ytc_thumb {
	display: block;
	overflow: hidden;
	position: relative;
	height: 0;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ytc_thumb>span {
	height: 0;
	width: 100%;
	display: block;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.ytc_thumb>span:before {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	background-image: url(../img/play.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	opacity: 0.6;
	transition: 0.4s;
}
.ytc_thumb:hover>span:before {
	opacity: 1;
}

/* Aspect Ratio Thumbs */
.ytc_thumb.ar16_9,
.ytc_thumb.ar16_9>span,
.ytc_thumb.ar16_9>span:before {
padding-bottom: 56.26%;
}
.ytc_thumb.ar16_10,
.ytc_thumb.ar16_10>span,
.ytc_thumb.ar16_10>span:before {
padding-bottom: 62.5%;
}
.ytc_thumb.ar4_3,
.ytc_thumb.ar4_3>span,
.ytc_thumb.ar4_3>span:before {
padding-bottom: 75%;
}